@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  background-color: #fff;
}

.home_details{
  margin-top: 100px;
}

.owner_details{
  padding: 20px 60px;
  margin: 0px 8px;
  border-top: 1px solid #AAB7B8;
  border-bottom: 1px solid #AAB7B8;
}
.ownerName{
  font-size: 2.2em;
  font-family: 'Poppins', sans-serif;
  text-decoration:underline;
  margin-bottom: 9px;
  user-select: none;
}
.rent_sell{
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
.ammount{
  font-size: 1.3em;
  user-select: none;
}
.ammount > i{
  font-size: .9em !important;
  user-select: none;
}

.carousel_imp_details{
  margin: 10px 0px;
  padding: 10px 50px;
  /* display: flex; */
}

.imp_details{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}
.details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 31px;
}

.detailsCell{
  min-width: 20vw;
  /* background-color: red; */
  padding: 20px 30px;
  border-radius: 10px;
  margin: 10px 9px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  transition: .2s;
  user-select: none;
}
.detailsCell:hover{
  cursor: pointer;
  transform: scale(1.05);
  user-select: none;
}

.detailHeader{
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.detailHeader > i{
  margin-right: 7px;
  text-align: center;
  /* background-color: red; */
}

.detailValue{
  margin-left: 2px;
  margin-top: 5px;
  font-size: .9em;
  font-family: 'Poppins', sans-serif;
}
.show_interest_btn{
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}
.showInterestBtn{
  width: 60%;
  padding: 20px 0px;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  border: 0px;
  border-radius: 8px;
  background-color: #D5F5E3;
  cursor: pointer;
  transition: .3s;
}

.showInterestBtn:hover{
  /* font-size: 1.25em; */
  transform:scale(1.1);
  background-color: #58D68D;
}





/* flickity carousel css  */

.carousel-fullscreen {
  background: black !important;
  -webkit-box-pack: center;
  height: 90vh;
  
  padding: 90px 30px;
}
.carousel{
  background: #283747 !important;
  border-radius: 15px;
  box-shadow: 0px 5px 19px rgba(0,0,0,0.4);

  /* padding: 90px 30px; */
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.carousel_container{
  min-height: 100%;
  background-color: #283747;
  justify-content: center;
  align-items: center;
}
.carousel-cell {
  width: 80%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}