.input_with_label{
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.inputs{
    display: flex;
    flex-direction: column !important;
}

.input_with_label > input{
    width: 100%;
}


/* start  */
.properties{
    width: 100%;
    padding: 0px;
}
.home_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.properties_header{
    margin-top: 100px;
    background-color: #fff;
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 20px 30px;
}


.homes{
    padding: 0px;
    background-color: #fff;
    width: 100%;
}

.home_div{
    min-height: 100%;
    max-height: 100%;
    /* max-width: 100%;
    min-width: 100%; */
    border-bottom: 1px solid #E5E8E8;
    margin-bottom: 9px;
    padding: 10px auto;
}
.img{
    height: 200px;
    min-width: 100%;
    /* margin-right: 5px; */
}


.home_header{
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.6em;
    margin-bottom: 5px;
}
.home_div > a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.home_other_details{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.other_details{
    background-color: #E5E8E8;
    padding: 3px 7px;
    border-radius: 7px;
    margin: 5px 3px;
    white-space: nowrap;
    margin-bottom: 20px !important;
}

.no_data > p{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    padding: 0px 10px;
    text-align: center;
}