.mainDiv {
    margin: 5vh 3rem;
    max-width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
}

.leftDiv {
    width: 45%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rightDiv {
    width: 50%;
    max-height: 100%;
    padding: 2rem;
    overflow-y: auto;
}

.heading {
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: .5rem 0rem;
}

.inputDivWrapper {
    width: 100%;
    padding: 0px 2rem;
}

.inputWrapper {
    width: 100%;
    margin: 10px 0px
}

.inputLabel {
    margin: 0px 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
}

.inputTag {
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 2rem;
    border: 2px solid #5D6D7E;
    outline: none;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

.inputTag:focus {
    border: 2px solid #2ECC71;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hidden {
    display: none !important;
}

.globalErrWrapper {
    width: 90%;
    border-radius: 5px;
    color: #0B5345;
    background-color: #45B39D;
    margin: 0px auto;
    margin-bottom: 10px;
}

.errHeading {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: .9rem;
    padding: 6px 0px;
}

.inputRightData {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding-right: 5px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 850px) {
    .mainDiv {
        margin: 0rem;
        max-width: 100%;
        height: 100%;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        padding: 3rem 5%;
        align-items: center;
        justify-content: center;
    }
    .leftDiv {
        width: 90%;
    }
    .rightDiv {
        width: 100%;
        padding: 2rem .8rem;
    }
    .inputDivWrapper {
        width: 100%;
        padding: 0px 0rem;
    }
}