.mainDiv{
    min-height: 100vh;
    padding: 5rem 3rem;
    padding-top: 100px;

}
.temp{
    width: 100%;
    padding: 2rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAFAF1;
    border-radius: 2rem;
}
.temp > img{
    height: 100%;
    width: 100%;
    text-align: center;
    object-fit: contain;

}