<section class="footer">
    <div class="main_footer_div">
      <div class="logo_slogan mob-footer">
        <div class="logo3">
          <p>
            <span>Ghar</span>Dekho.com
          </p>
        </div>
        <div class="slogan1">
          One of the best site to browse home across Bhiwandi.
        </div>
      </div>
      <div class="quick_links mob-footer">
        <p class="footer_heading">Quick Links</p>
        <li><a href="/">Home</a></li>
        <li><a href="/properties">Properties</a></li>
        <li><a href="/ContactUs">Contact Us</a></li>
        <li><a href="/PostProperty">Rent/Sell Home</a></li>
      </div>
      <div class="about mob-footer">
        <p class="footer_heading">Contact Details </p>
        <li><i class="fas fa-phone-alt"></i>+91 7276115611</li>
        <li><i class="fas fa-envelope"></i>akshay.pajv@gmail.com</li>
        <li><i class="fas fa-map-marker-alt"></i>Padmanagar, Bhiwandi.</li>
      </div>
    </div>
    <div class="copyright">
      <div class="social_links">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fas fa-envelope"></i>
        <i class="fab fa-twitter-square"></i>
      </div>
      <div class="end_div">
        <p class="madeBy">Made with <i class="fas fa-heart"></i> and <i class="fas fa-mug-hot"></i> by Praneet & Akshay in Bhiwandi.</p>
        <p>Copyright © 2021 GharDekho. All rights reserved.</p>
      </div>
    </div>
  </section>