<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Login-mob.css" media="screen and (max-width: 900px)">
    <link rel="stylesheet" href="css/pop.css">
    <title>Login - GharDekho.com</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

    <div class="background">
        <div class="text">
            <h1>Login</h1>
            <p>No Acount ? <a href="/signup">Sign Up</a></p>
        </div>
        <div class="box">
            <form class="form" autocomplete="off" action="/login" method="POST">
                <% if(typeof err != 'undefined' ){ %>
                   
                    <div class="alert alert-<%= typeof errType != 'undefined' ? errType : "warning" %> alert-dismissible fade show" role="alert">
                        <strong><%= typeof errHead != 'undefined' ? errHead : "Error!" %></strong><br> <%= err %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                <% } %>
                <input type="text" class="username" value="<%= typeof username != 'undefined' ? username : "" %>" name="username" placeholder="Mobile Number">
                <input type="password" class="password" name="password" placeholder="Password">
                <input type="submit" class="button" value="Log In">
            </form>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>